
.airport__lots
  background: $blue-bg

  h4
    margin-bottom: 20px

  .airport__card__review
    padding-bottom: 20px

  &__row
    display: flex
    flex-wrap: wrap
  &__column
    padding: 15px
  &__column
    display: flex
    min-height: 100%
  &__column .card-custom
    flex-direction: column
    margin: 0
    min-height: 100%

//responsiveness
@media (max-width: 1199px)
  .airport__lots

