$orange: #ff9000
$orange-light: #ffb27f
$blue: #12538c
$blue-op: rgba(18, 83, 140, 0.8)
$blue-light: #7099bc
$blue-light-op: rgba(83, 115, 143, 0.1)


$grey: #cccccc
$grey-light: #dedede

$white-dark: #f2f2f2
$white: #fbfbfb