
.ap-details__location

  &__address
    margin-bottom: 20px
    p
      &:last-child
        margin-top: 3px

  &__map
    border-radius: 4px
    width: 100%
    height: 230px
    position: relative
    .map
      //display: none
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      overflow: hidden


