
.ap-checkout
  padding: 110px 0 150px
  background: $white
  min-height: calc(100vh - 198px)

  .order-summary__form
    padding-bottom: 0

  &__title
    margin-top: 30px
    h4
      i
        margin-right: 8px
        font-size: 25px
        position: relative
        top: 4px
    h2
      margin-top: 12px

//responsiveness
@media (max-width: 767px)
  .ap-checkout
    padding: 50px 0 45px
