
.ap-checkout
  padding: 110px 0 150px
  background: $white
  min-height: calc(100vh - 198px)

  &__title
    margin-top: 30px
    h4
      i
        margin-right: 8px
        font-size: 25px
        position: relative
        top: 4px
    h2
      margin-top: 12px

  .order-summary
    position: relative

    &__form
      padding-bottom: 0

    &__submit
      display: none

    &__table.coupon
      border-bottom: none
      td
        height: 65px

//responsiveness
@media (max-width: 767px)
  .ap-checkout
    padding: 40px 0 45px
