
.ap-checkout__contact-us
  margin-top: 30px
  box-shadow: $shadow-main
  border-radius: 4px
  background: white
  padding: 20px 25px

  &__row
    display: table

  &__image, &__description
    display: table-cell
    vertical-align: middle

  &__image
    img
      width: 120px
      border-radius: 50%
      height: 120px

  &__description
    padding-left: 20px
    h4
      font-size: 18px
      font-weight: bold
      color: $blue
      margin-bottom: 10px
    p
      font-family: 'Montserrat', sans-serif
      font-size: 14px
      line-height: 22px
      color: $blue
    a:hover
      color: $orange

