p, h1, h2, h3, h4, h5, h6
  margin: 0

//p, h1, h2, h3, h4, h5, h6
//  margin-top: inherit
//  margin-bottom: inherit


// titles
.title-big
  font-family: 'Montserrat', sans-serif
  font-size: 40px
  line-height: 1.25
  letter-spacing: 1px
  font-weight: 600

.title-normal, .title-normal-bold, .title-normal-mont
  font-size: 24px
  color: $blue

.title-normal-mont
  font-family: 'Montserrat', sans-serif
  font-weight: 500

.title-normal
  font-weight: 300

.title-normal-bold
  font-weight: 600
  line-height: 30px

.title-small-upper
  font-size: 14px
  color: $blue

.title-small-mont
  font-size: 16px
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  color: $blue

//text
.text-normal, .text-bold, .text-mont-bold, .text-normal-upper, .text-big
  color: $blue

.text-normal, .text-normal-upper, .text-bold
  font-size: 13px

.text-big
  font-size: 14px

.text-bigger
  font-size: 16px


.text-normal-upper
  text-transform: uppercase

.text-bold
  font-weight: 700

.text-mont-bold
  font-family: 'Montserrat', sans-serif
  font-size: 14px
  font-weight: 500

//responsiveness
@media (max-width: 767px)
  .title-normal, .title-normal-bold