p, h1, h2, h3, h4, h5, h6
  margin: 0

p, h1, h2, h3, h4, h5, h6
  margin-top: inherit
  margin-bottom: inherit


// titles
.title-big
  font-family: 'Montserrat-SemiBold'
  font-size: 40px
  line-height: 1.25
  letter-spacing: 1px