
.airport-parking
  padding: 110px 0 150px
  background: white
  min-height: calc(100vh - 198px)

  &__container
    max-width: 1400px
    width: 100%

  &__nothing-found
    text-align: center
    color: $blue
    font-size: 35px
    i
      font-size: 90px
      display: block
      margin-bottom: 20px

  &__lot-section
    box-shadow: 0 10px 24px 0 rgba(70, 134, 155, 0.14)
    border-radius: 4px
    background: white
    border: 1px solid #f5f5f5

    &__row
      display: flex

    &__column-big
      padding-right: 0

    &__column-small
      padding-left: 0
      flex-grow: 1
      width: 400px
      position: relative
      min-height: 100%
      overflow: hidden
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px

      .map
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0

//responsiveness

@media (max-width: 1050px)
  .airport-parking

    &__lot-section
      &__column-small
        width: 300px

@media (max-width: 991px)
  .airport-parking

    &__lot-section
      box-shadow: 0 10px 24px 0 rgba(70, 134, 155, 0.14)
      border-radius: 4px
      background: white
      border: 1px solid #f5f5f5

      &__row
        flex-wrap: wrap

      &__column-big
        width: 100%

      &__column-small
        width: 100%
        height: 100vh
        border-top-right-radius: 0
        border-bottom-left-radius: 4px


    &__mobile-tabs
      display: flex!important
      margin: 0 auto
      border-radius: 4px
      li
        flex-grow: 1
        width: 50%
        text-transform: uppercase
        color: $blue
        height: 60px
        display: flex
        align-items: center
        cursor: pointer
        transition: all 0.3s
        font-size: 15px
        span
          display: block
          text-align: center
          margin: 0 auto
          font-family: 'Montserrat-Light'
          i
            margin-right: 3px
        &:last-child
          border-left: 1px solid #f5f5f5
        &:not(.active)
          &:hover
            background: $white
        &.active
          background: $blue
          color: white

    &__container
      max-width: 740px
      width: 100%

    &__nothing-found
      font-size: 20px
      i
        font-size: 50px
        margin-bottom: 10px

@media (max-width: 767px)
  .airport-parking
    padding: 110px 0 45px
    background: $blue

    &__lot-section
      border: none