.modal-backdrop.in
  background-color: rgba(247, 251, 251, 0.8)
  opacity: 1
.auth-modal

  .modal-dialog
    max-width: 530px
    margin: 85px auto
    padding: 0 15px

    .modal-content
      border-radius: 6px
      background-color: white
      box-shadow: $shadow-popover
      border: solid 1px #e8f2f2
      padding: 50px 15px 18px
      position: relative
      transform: translateY(-100px)
      opacity: 0
      animation: modal-fade-in-bottom 0.5s forwards
      animation-delay: 0.1s
      @keyframes modal-fade-in-bottom
        to
          transform: translateY(0)
          opacity: 1

      .modal-body
        padding: 0
        .close
          position: absolute
          right: 2px
          top: -30px
          opacity: 0.7
          transition: all 0.3s
          padding: 0 5px
          i
            color: $orange
            font-size: 32px
          &:hover
            opacity: 1

        .header-modal
          margin-bottom: 35px
          img
            margin-bottom: 25px
            width: 117px
            height: 38px
          h4
            font-size: 24px
            font-weight: 600
            color: $blue
        p
          font-size: 15px
          text-align: center
          color: #6a6b6f
          a
            color: $blue
            font-weight: 600
            &:hover
              color: $orange

        .modal-btn-orange, .modal-btn-white
          width: 272px
          height: 48px
          border-radius: 4px
          font-weight: 600
          border: none
          transition: all 0.3s
          &:hover
            box-shadow: 0 12px 24px 0 rgba(70, 134, 155, 0.2)

        .modal-btn-orange
          color: white
          background-color: $orange
        .modal-btn-white
          color: $blue
          border: solid 1px $blue
          &:hover
            background: $blue
            color: white

        .modal-terms-privacy
          max-width: 330px
          margin: 15px auto 0
          p
            font-size: 12px
            color: #a1a4b6
            line-height: 20px
            a
              color: $blue
              font-weight: 400
              &:hover
                color: $orange

        form
          max-width: 272px
          margin: 0 auto

          .checkbox-label, .register-as
            font-size: 12px
            font-weight: 600
            color: rgba(64, 64, 64, 0.5)

        .register-as
          display: flex
          margin: 20px 0
          .radio-title
            width: 350px
            text-align: left
          label
            font-size: 12px
            padding-left: 28px

        .divider
          margin-top: 1px
          label
            float: left
            width: auto
          a
            float: right
            opacity: 0.5
            font-size: 12px
            font-weight: 600
            text-align: left
            color: $blue
            margin-top: 4px
            &:hover
              color: $orange

        .modal-social
          margin: 20px auto 34px
          display: flex
          max-width: 306px
          .modal-social-img
            display: table-cell
            vertical-align: middle
            padding: 0 10px
            img
              width: 100%
              height: 100%
              display: block

        .cta-buttons
          max-width: 272px
          margin: 30px auto 25px
          position: relative
          &:before, &:after
            position: absolute
            z-index: -1
          &:before
            content: ''
            width: 222px
            height: 1px
            background: #eaeaea
            left: 25px
            right: 25px
            top: 50%
          &:after
            content: 'or'
            left: calc(50% - 32.5px)
            top: calc(50% - 10px)
            font-size: 14px
            font-weight: 600
            text-align: left
            color: $blue
            background: white
            padding: 0 25px
          a
            display: block
            line-height: 48px
            &.modal-btn-white
              margin-top: 60px

        .auth-modal-footer
          margin-top: 20px

#register-login-modal

  .modal-terms-privacy
    margin-top: 38px

#forgot-pwd-modal
  .modal-content
    p.forgot-pwd-text
      margin-bottom: 30px
    .cta-buttons
      margin: 0 auto 34px


//responsiveness
@media (max-width: 768px)
  .auth-modal

    .modal-dialog
      margin: 15px auto

    .modal-terms-privacy
      max-width: 180px!important

@media (max-width: 400px)
  .auth-modal

    .modal-btn-orange, .modal-btn-white
      width: 100%!important

    .register-as
      display: flex
      flex-wrap: wrap
      margin-top: 15px!important
      .radio-title
        width: 100%
        padding-bottom: 15px
      label
        width: 40%!important

    .modal-social-img
      padding: 0 5px!important

  #forgot-pwd-modal .modal-content
    p
      text-align: left



