
.home__search-form
  max-width: 760px
  margin: 0 auto

  &__text
    font-family:  'Montserrat-Regular', sans-serif
    color: $blue
    text-align: center
    font-size: 16px

  &__submit
    text-align: center
    margin-top: 40px
    i
      animation: rotate-loading 0.5s infinite
      display: inline-block

//responsiveness
@media (max-width: 992px)
  .home__search-form
    max-width: 630px

@media (max-width: 768px)
  .home__search-form

    &__submit
      margin: 8px auto 0
      label
        width: 100%

