
.book-travel
  text-align: center

  &__link
    display: inline-block
    i, p
      color: $blue-light
      -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
      -ms-transition: all 0.3s
      -o-transition: all 0.3s
      transition: all 0.3s
    &:hover
      i, p
        color: $orange

  &__list-item
    display: inline-block
    margin: 0 10px

  &__text
    font-family: 'Montserrat-Regular'
    font-size: 12px
    text-align: left
    position: relative
    bottom: 1px