
nav.navbar.navbar-default
  background: none
  border: none
  border-radius: 0
  margin: 0
  position: absolute
  left: 0
  width: 100%
  top: 0
  z-index: 1000

  .navbar-header
    a.navbar-brand
      display: block
      padding: 22px 15px
      height: auto
      img
        width: 117px
        height: 38px

  ul.nav.navbar-nav
    li
      padding: 21px 0
      span
        display: block!important
        line-height: 38px!important
      a
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        font-size: 14px
        text-align: center
        color: $blue
        position: relative
        padding: 10px 25px
        transition: all 0.3s
        img
          position: absolute
          left: 0
          top: 10px
          font-size: 30px
        &:hover
          color: $orange

        &:last-child
          padding-right: 0

        &.navbar-shadowed
          border-radius: 4px
          background-color: rgba(255, 255, 255, 0.9)
          box-shadow: $shadow-long
          padding: 10px 30px
          &:hover
            color: white
            background: $orange

    &:not(.navbar-right)
      padding-left: 30px
      li a
        padding-left: 30px

// Responsiveness

@media (max-width: 1199px)
  nav.navbar.navbar-default

    ul.nav.navbar-nav:not(.navbar-right)
      padding-left: 0

@media (max-width: 991px)
  nav.navbar.navbar-default
    .container
      width: 100%

    .navbar-header
      a.navbar-brand img
        width: 100px

    ul.nav.navbar-nav
      li
        padding: 21px 0
        a
          padding: 10px 17px
          font-size: 12px

          &.navbar-join
            padding: 10px 17px

        &:first-child a
          padding-left: 30px!important

      &:not(.navbar-right)
        li a
          padding-left: 18px

@media (max-width: 767px)
  nav.navbar.navbar-default
    background: $white

    .navbar-header
      a.navbar-brand
        padding: 15px

      .navbar-toggle
        border: none
        margin: 13px 5px
        padding: 10px
        i
          color: $orange
          font-size: 20px

        &:active, &:focus, &:hover
          background: none!important

    .navbar-collapse
      background: white!important
      box-shadow: 0 20px 20px 0 rgba(18, 83, 140, 0.1)

      ul.nav.navbar-nav
        margin: 0
        li
          padding: 0
          a
            padding: 10px 0!important
            font-size: 14px
            text-align: left
            img
              display: none
            &.navbar-shadowed
              box-shadow: none
              &:hover
                background: none
                color: $orange

        &:not(.navbar-right)
          padding: 10px 0 0
        &.navbar-right
          padding-bottom: 10px!important

