@import 'fonts'

// Colors
@import 'variables/colors'
// end

// Typography
@import 'typography/typography'
// end

// Common
@import 'common/header'
@import 'common/footer'
@import 'common/animations'
@import 'common/book-travel'
// end

// Date-range picker
@import 'date-range-picker/date-range-picker'
//

// Home
@import 'home/home-main'
@import 'home/home-search'
@import 'home/home-search-form'
@import 'home/home-options'
@import 'home/home-how-it-works'
@import 'home/home-top-airports'
// end



*
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box

body


a
  transition: all 0.3s

h1
  font-family: 'Montserrat-Bold'

ul
  list-style: none
  padding: 0
  margin: 0

// buttons
.btn-custom
  border-radius: 4px
  background: $orange
  font-family: 'Montserrat-Regular'
  font-size: 15px
  letter-spacing: 1px
  text-align: center
  border: none
  transition: all 0.3s
  outline: none
  text-transform: uppercase
  &:hover
    box-shadow: 0 12px 24px 0 rgba(70, 134, 155, 0.2)

  &--big
    width: 255px
    height: 64px
    color: white
//end


//responsiveness
@media (max-width: 768px)
  .btn-custom
    width: 100%!important