@import 'fonts'

// Colors
@import 'variables/colors'
// end

// Typography
@import 'typography/typography'
// end

// Common
@import 'common/header'
// end

*
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box

body
  background: #fdfdfd

a
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -ms-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s

h1
  font-family: 'Montserrat-Bold'

ul
  list-style: none
  padding: 0